.our-team--padding {
    background-color: var(--background-our-team);
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: $desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.our-team__title {
    text-align: center;
    margin-bottom: 30px;
    @include font(700, 28px, 1.18, 0.03em);

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        @include font(700, 36px, 1.17, 0.03em);
    }
}

.our-team__item {
    background-color: var(--background-color);
    // display: flex;
    // gap: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 450px; 
    @media screen and (min-width: $tablet) {
        width: 354px;
    }
    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}


.our-team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.our-team__image {
    width: 100%;
}

.our-team__team {
    margin-bottom: 10px;
    @include font(500, 16px, 1.18, 0.03em);
}

.our-team__profession {
    color: var(--second-color);
    @include font(null, 16px, 1.18, 0.03em);
    margin-bottom: 16px;
}

.our-team__content {
    padding-top: 30px;
    padding-bottom: 24px;
    @media screen and (min-width: $desktop) {
        padding-bottom: 30px;
    }
}